* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 150vh;
  }
  
  .container_accordion {
    max-width: 80%;
    margin: 0 auto;
  }
  
  #accordionSection {
    padding: 100px 0;
    background-color: #528f8f;
    color: #fff;
  }
  
  .plus {
    width: 30px;
    height: 30px;
    transition: 0.3s;
  }
  
  .accordion__name {
    background-color:rgb(180, 169, 169);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .accordion__content {
    overflow: hidden;
    padding: 10px 20px;
    max-height: 0;
    transition: 0.5s ease-out; 
  }
  
  .accordion__content p {
    padding: 10px;
  }
  
  .accordion__wrap.accordion__active .accordion__content {
    max-height: 500px;
    transition: 0.5s ease-in;
  }
  /* 'accordion__wrap accordion__active' */
  
  .accordion__wrap.accordion__active .plus {
    transform: rotate(180deg);
    transition: 0.9s;
    
  }
  
  /* selector.selector - 'brother sister'
  
  selector .selector - 'parent' > 'child' */
  